* {
  --primary-color: #1A144A;
  --primary-color-rgb: 42, 44, 163;
  --secondary-color: #3b2e9d;
  --secondary-color-rgb: 121, 141, 122;
  --background: #fff;
  --title-font-color: #1A144A;
  --body-font-color: #1A144A;
  --dark-body-font-color: rgba(255, 255, 255, .75);
  --bg-color-even: #E8E8E8;
  --bg-color-odd: #F4F4F4;
  --bg-dark-1: #1A144A;
  --bg-dark-1-rgb: 42, 44, 163;
  --bg-dark-2: #1A144A;
  --bg-dark-3: #1A144A;
  --bg-dark-3-rgb: 26, 20, 74;
  --bg-grey: #F0F1F3;
  --bg-light: #EDEDED;
}
